.link {
  border-color: transparent;
  color: inherit;
  font-size: 1rem;
  line-height: 1.2;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color, background-color, border-color, box-shadow 0.15s ease-in-out;
  user-select: none;
}
.link:focus, .link:active {
  color: inherit;
}
